USE [master]
GO
/****** Object:  Database [PublicTransport1]    Script Date: 28.11.2025 23:20:33 ******/
CREATE DATABASE [PublicTransport1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PublicTransport1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PublicTransport1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PublicTransport1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PublicTransport1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PublicTransport1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PublicTransport1]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsVehicleActive]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5) Функція визначає, чи є транспорт активним
CREATE FUNCTION [dbo].[fn_IsVehicleActive](@vehicle_id INT)
RETURNS BIT
AS
BEGIN
    RETURN (
        SELECT CASE WHEN is_deleted = 0 AND status='active' 
                    THEN 1 ELSE 0 END 
        FROM Vehicle WHERE vehicle_id=@vehicle_id
    );
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TripDuration]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4) Функція обчислює тривалість рейсу у хвилинах
CREATE FUNCTION [dbo].[fn_TripDuration](@trip_id INT)
RETURNS INT
AS
BEGIN
    RETURN (
        SELECT DATEDIFF(minute, departure_time, arrival_time)
        FROM Trip WHERE trip_id = @trip_id
    );
END;
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[vehicle_id] [int] IDENTITY(1,1) NOT NULL,
	[transport_type_id] [int] NOT NULL,
	[model] [nvarchar](100) NULL,
	[capacity] [int] NULL,
	[registration_number] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
	[is_deleted] [bit] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ActiveVehicles]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ActiveVehicles] AS
SELECT vehicle_id, model, capacity, registration_number, status
FROM Vehicle
WHERE is_deleted = 0 AND status = 'active';
GO
/****** Object:  Table [dbo].[Route]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[route_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[start_point] [nvarchar](100) NULL,
	[end_point] [nvarchar](100) NULL,
	[distance_km] [decimal](5, 2) NULL,
	[is_deleted] [bit] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[route_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trip]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trip](
	[trip_id] [int] IDENTITY(1,1) NOT NULL,
	[route_id] [int] NULL,
	[vehicle_id] [int] NULL,
	[driver_id] [int] NULL,
	[departure_time] [datetime] NULL,
	[arrival_time] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_RouteTrips]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_RouteTrips] AS
SELECT t.trip_id, r.name AS route_name, t.departure_time, t.arrival_time
FROM Trip t
JOIN Route r ON t.route_id = r.route_id;
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[driver_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
	[license_number] [nvarchar](50) NULL,
	[is_deleted] [bit] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver_Schedule]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver_Schedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[driver_id] [int] NULL,
	[vehicle_id] [int] NULL,
	[shift_start] [datetime] NULL,
	[shift_end] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GPS_Tracking]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPS_Tracking](
	[tracking_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[timestamp] [datetime] NULL,
	[latitude] [decimal](9, 6) NULL,
	[longitude] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[tracking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incident]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incident](
	[incident_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[date] [date] NULL,
	[type] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[incident_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenance]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenance](
	[maintenance_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[date] [date] NULL,
	[description] [nvarchar](500) NULL,
	[cost] [decimal](8, 2) NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maintenance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passenger]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passenger](
	[passenger_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[passenger_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NULL,
	[amount] [decimal](8, 2) NULL,
	[method] [nvarchar](20) NULL,
	[payment_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route_Stop]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route_Stop](
	[route_id] [int] NOT NULL,
	[stop_id] [int] NOT NULL,
	[stop_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[route_id] ASC,
	[stop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stop]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stop](
	[stop_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[latitude] [decimal](9, 6) NULL,
	[longitude] [decimal](9, 6) NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[stop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription](
	[subscription_id] [int] IDENTITY(1,1) NOT NULL,
	[passenger_id] [int] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[price] [decimal](8, 2) NULL,
	[is_deleted] [bit] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[subscription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[trip_id] [int] NULL,
	[passenger_id] [int] NULL,
	[price] [decimal](8, 2) NULL,
	[purchase_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transport_Type]    Script Date: 28.11.2025 23:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transport_Type](
	[transport_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transport_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Driver] ON 

INSERT [dbo].[Driver] ([driver_id], [first_name], [last_name], [phone], [license_number], [is_deleted], [updated_at], [updated_by]) VALUES (1, N'Ivan', N'Petrenko', N'380931112233', N'A1234', 0, CAST(N'2025-11-27T20:50:07.280' AS DateTime), N'admin')
INSERT [dbo].[Driver] ([driver_id], [first_name], [last_name], [phone], [license_number], [is_deleted], [updated_at], [updated_by]) VALUES (2, N'Oleh', N'Koval', N'380974455667', N'B4455', 0, CAST(N'2025-11-27T20:50:07.280' AS DateTime), N'admin')
INSERT [dbo].[Driver] ([driver_id], [first_name], [last_name], [phone], [license_number], [is_deleted], [updated_at], [updated_by]) VALUES (3, N'Oksana', N'Melnuk', N'380971234567', N'C5566', 0, CAST(N'2025-11-27T20:50:07.280' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Driver] OFF
GO
SET IDENTITY_INSERT [dbo].[Passenger] ON 

INSERT [dbo].[Passenger] ([passenger_id], [full_name], [phone], [email], [updated_at], [updated_by]) VALUES (1, N'Maksym Shevchenko', N'380935551122', N'maksym@gmail.com', CAST(N'2025-11-27T20:50:07.287' AS DateTime), N'admin')
INSERT [dbo].[Passenger] ([passenger_id], [full_name], [phone], [email], [updated_at], [updated_by]) VALUES (2, N'Anna Kravets', N'380971234444', N'anna@gmail.com', CAST(N'2025-11-27T20:50:07.287' AS DateTime), N'admin')
INSERT [dbo].[Passenger] ([passenger_id], [full_name], [phone], [email], [updated_at], [updated_by]) VALUES (3, N'Dmytro Sova', N'380986662222', N'dmytro@gmail.com', CAST(N'2025-11-27T20:50:07.287' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Passenger] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [ticket_id], [amount], [method], [payment_time]) VALUES (1, 1, CAST(25.50 AS Decimal(8, 2)), N'card', CAST(N'2025-11-27T20:50:07.287' AS DateTime))
INSERT [dbo].[Payment] ([payment_id], [ticket_id], [amount], [method], [payment_time]) VALUES (2, 2, CAST(25.50 AS Decimal(8, 2)), N'cash', CAST(N'2025-11-27T20:50:07.287' AS DateTime))
INSERT [dbo].[Payment] ([payment_id], [ticket_id], [amount], [method], [payment_time]) VALUES (3, 3, CAST(18.00 AS Decimal(8, 2)), N'app', CAST(N'2025-11-27T20:50:07.287' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Route] ON 

INSERT [dbo].[Route] ([route_id], [name], [start_point], [end_point], [distance_km], [is_deleted], [updated_at], [updated_by]) VALUES (1, N'Route 1', N'Center', N'Airport', CAST(12.50 AS Decimal(5, 2)), 0, CAST(N'2025-11-27T20:50:07.283' AS DateTime), N'admin')
INSERT [dbo].[Route] ([route_id], [name], [start_point], [end_point], [distance_km], [is_deleted], [updated_at], [updated_by]) VALUES (2, N'Route 2', N'Railway Station', N'University', CAST(7.80 AS Decimal(5, 2)), 0, CAST(N'2025-11-27T20:50:07.283' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Route] OFF
GO
INSERT [dbo].[Route_Stop] ([route_id], [stop_id], [stop_order]) VALUES (1, 1, 1)
INSERT [dbo].[Route_Stop] ([route_id], [stop_id], [stop_order]) VALUES (1, 3, 2)
INSERT [dbo].[Route_Stop] ([route_id], [stop_id], [stop_order]) VALUES (1, 5, 3)
GO
SET IDENTITY_INSERT [dbo].[Stop] ON 

INSERT [dbo].[Stop] ([stop_id], [name], [latitude], [longitude], [updated_at], [updated_by]) VALUES (1, N'Center Station', CAST(50.450001 AS Decimal(9, 6)), CAST(30.523333 AS Decimal(9, 6)), CAST(N'2025-11-27T20:50:07.283' AS DateTime), N'admin')
INSERT [dbo].[Stop] ([stop_id], [name], [latitude], [longitude], [updated_at], [updated_by]) VALUES (2, N'Railway Station', CAST(50.442134 AS Decimal(9, 6)), CAST(30.512997 AS Decimal(9, 6)), CAST(N'2025-11-27T20:50:07.283' AS DateTime), N'admin')
INSERT [dbo].[Stop] ([stop_id], [name], [latitude], [longitude], [updated_at], [updated_by]) VALUES (3, N'Market Square', CAST(50.454122 AS Decimal(9, 6)), CAST(30.523945 AS Decimal(9, 6)), CAST(N'2025-11-27T20:50:07.283' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Stop] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([ticket_id], [trip_id], [passenger_id], [price], [purchase_time]) VALUES (1, 1, 1, CAST(25.50 AS Decimal(8, 2)), CAST(N'2025-11-27T20:50:07.287' AS DateTime))
INSERT [dbo].[Ticket] ([ticket_id], [trip_id], [passenger_id], [price], [purchase_time]) VALUES (2, 1, 2, CAST(25.50 AS Decimal(8, 2)), CAST(N'2025-11-27T20:50:07.287' AS DateTime))
INSERT [dbo].[Ticket] ([ticket_id], [trip_id], [passenger_id], [price], [purchase_time]) VALUES (3, 2, 3, CAST(18.00 AS Decimal(8, 2)), CAST(N'2025-11-27T20:50:07.287' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Transport_Type] ON 

INSERT [dbo].[Transport_Type] ([transport_type_id], [name]) VALUES (1, N'Bus')
INSERT [dbo].[Transport_Type] ([transport_type_id], [name]) VALUES (2, N'Tram')
INSERT [dbo].[Transport_Type] ([transport_type_id], [name]) VALUES (3, N'Trolleybus')
SET IDENTITY_INSERT [dbo].[Transport_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Trip] ON 

INSERT [dbo].[Trip] ([trip_id], [route_id], [vehicle_id], [driver_id], [departure_time], [arrival_time], [updated_at], [updated_by]) VALUES (1, 1, 1, 1, CAST(N'2025-02-20T08:00:00.000' AS DateTime), CAST(N'2025-02-20T08:25:00.000' AS DateTime), CAST(N'2025-11-27T20:50:07.283' AS DateTime), N'admin')
INSERT [dbo].[Trip] ([trip_id], [route_id], [vehicle_id], [driver_id], [departure_time], [arrival_time], [updated_at], [updated_by]) VALUES (2, 1, 3, 2, CAST(N'2025-02-20T10:00:00.000' AS DateTime), CAST(N'2025-02-20T10:25:00.000' AS DateTime), CAST(N'2025-11-27T20:50:07.283' AS DateTime), N'admin')
INSERT [dbo].[Trip] ([trip_id], [route_id], [vehicle_id], [driver_id], [departure_time], [arrival_time], [updated_at], [updated_by]) VALUES (3, 2, 4, 3, CAST(N'2025-02-20T09:30:00.000' AS DateTime), CAST(N'2025-02-20T09:55:00.000' AS DateTime), CAST(N'2025-11-27T20:50:07.283' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Trip] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([vehicle_id], [transport_type_id], [model], [capacity], [registration_number], [status], [is_deleted], [updated_at], [updated_by]) VALUES (1, 1, N'Bogdan A701', 60, N'AX1234AA', N'active', 0, CAST(N'2025-11-27T20:50:07.280' AS DateTime), N'admin')
INSERT [dbo].[Vehicle] ([vehicle_id], [transport_type_id], [model], [capacity], [registration_number], [status], [is_deleted], [updated_at], [updated_by]) VALUES (2, 1, N'Etalon A081', 50, N'AX9876BB', N'repair', 0, CAST(N'2025-11-27T20:50:07.280' AS DateTime), N'admin')
INSERT [dbo].[Vehicle] ([vehicle_id], [transport_type_id], [model], [capacity], [registration_number], [status], [is_deleted], [updated_at], [updated_by]) VALUES (3, 3, N'Skoda 14Tr', 70, N'AX7711CC', N'active', 0, CAST(N'2025-11-27T20:50:07.280' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
/****** Object:  Index [UQ__Payment__D596F96A6C7AA5D6]    Script Date: 28.11.2025 23:20:34 ******/
ALTER TABLE [dbo].[Payment] ADD UNIQUE NONCLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehicle__125DB2A3C5AEF3D1]    Script Date: 28.11.2025 23:20:34 ******/
ALTER TABLE [dbo].[Vehicle] ADD UNIQUE NONCLUSTERED 
(
	[registration_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Vehicle_Registration]    Script Date: 28.11.2025 23:20:34 ******/
CREATE NONCLUSTERED INDEX [idx_Vehicle_Registration] ON [dbo].[Vehicle]
(
	[registration_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Driver] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Driver] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Incident] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Maintenance] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Passenger] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [payment_time]
GO
ALTER TABLE [dbo].[Route] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Route] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Stop] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Subscription] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Subscription] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT (getdate()) FOR [purchase_time]
GO
ALTER TABLE [dbo].[Trip] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Driver_Schedule]  WITH CHECK ADD FOREIGN KEY([driver_id])
REFERENCES [dbo].[Driver] ([driver_id])
GO
ALTER TABLE [dbo].[Driver_Schedule]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[GPS_Tracking]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([ticket_id])
REFERENCES [dbo].[Ticket] ([ticket_id])
GO
ALTER TABLE [dbo].[Route_Stop]  WITH CHECK ADD FOREIGN KEY([route_id])
REFERENCES [dbo].[Route] ([route_id])
GO
ALTER TABLE [dbo].[Route_Stop]  WITH CHECK ADD FOREIGN KEY([stop_id])
REFERENCES [dbo].[Stop] ([stop_id])
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD FOREIGN KEY([passenger_id])
REFERENCES [dbo].[Passenger] ([passenger_id])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([passenger_id])
REFERENCES [dbo].[Passenger] ([passenger_id])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([trip_id])
REFERENCES [dbo].[Trip] ([trip_id])
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD FOREIGN KEY([driver_id])
REFERENCES [dbo].[Driver] ([driver_id])
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD FOREIGN KEY([route_id])
REFERENCES [dbo].[Route] ([route_id])
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD FOREIGN KEY([transport_type_id])
REFERENCES [dbo].[Transport_Type] ([transport_type_id])
GO
/****** Object:  StoredProcedure [dbo].[AddDriver]    Script Date: 28.11.2025 23:20:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1) Додавання нового водія
CREATE PROCEDURE [dbo].[AddDriver]
 @first_name NVARCHAR(50),
 @last_name NVARCHAR(50),
 @phone NVARCHAR(20),
 @license_number NVARCHAR(50),
 @updated_by NVARCHAR(50)
AS
INSERT INTO Driver(first_name,last_name,phone,license_number,updated_by)
VALUES(@first_name,@last_name,@phone,@license_number,@updated_by);
GO
/****** Object:  StoredProcedure [dbo].[GetTripsByRoute]    Script Date: 28.11.2025 23:20:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3) Вибір рейсів за маршрутом
CREATE PROCEDURE [dbo].[GetTripsByRoute]
 @route_id INT
AS
SELECT * FROM Trip WHERE route_id = @route_id;
GO
/****** Object:  StoredProcedure [dbo].[SoftDeleteDriver]    Script Date: 28.11.2025 23:20:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2) М'яке видалення водія
CREATE PROCEDURE [dbo].[SoftDeleteDriver]
 @driver_id INT,
 @updated_by NVARCHAR(50)
AS
UPDATE Driver
SET is_deleted = 1, updated_by=@updated_by, updated_at=GETDATE()
WHERE driver_id = @driver_id;
GO
USE [master]
GO
